* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family:"Maison Neue Medium", Helvetica, Arial, sans-serif;
    font-weight:100;
    font-style:normal;
    overflow: auto;
}

#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

#sidebar {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    border-right: 1px solid black;
    z-index: 1;

    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

}

#sidebar::-webkit-scrollbar {
    display: none;
}

#buttons {
    position: fixed;
    width: 50%;
    border-right: 1px solid black;
    z-index: 100;
}

#buttons a:link {
    color: #000000;
}

#buttons a:hover {
    color: #000000;
}

#buttons a:active {
    color: #000000;
}

#buttons a:visited {
    color: #000000;
}

.buttonTop {
    position: relative;
    float: left;
    width: 50%;
    padding: 5% 7%;

    border-bottom: 1px solid black;
    background-color: white;
    font-size: 1.8em;
    font-size: 1.7vw;
}

.buttonTop:hover {
    background-color: #eee;
}


/* CONTENT PAGES */

#posts {
    position: relative;
    width: 100%;
    min-height: 100%;
    float: left;
    z-index: 1;
}

#postFoot
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2%;
    z-index: 1000;

    border-top: 1px solid black;    
    background-color: #eeeeee;

        
}

.timeline {
    position: absolute;
    left: 50%;
    top: 0px;
    height: 100%;
    width: 1px;
    z-index: 2;
    background-color: black;
}


#postItems {
    position: relative;
    width: 100%;
    margin-top: 33%;
    z-index: 2;

}

ul {
    position: relative;
    width: 100%;
    list-style-type: none;
}

li {
    //border: 1px solid black;
    margin: 60px auto;
    font-size: 1.1em;
    font-size: 1vw;
    text-align: center;
    //background-color: red;
}

li.projectEntry {
 
}

li.projectEntry img{
    max-width: 60%;
}

li.researchEntry {

}

.year
{
    width: 10%;
    text-align: center;
    border: 1px solid black;
    padding: 2% 0;
    z-index: 10px;
    color: black;
    Background-color: white;
}



/* CONTENT PAGES */

main {
    position: relative;
    width: 50%;
    padding: 10%;
    height: 100%;
    padding: 10%;

    float: left;
    overflow: auto;

    background: #ffffff;
    /* background: #eeeeee; */
    /* background: -moz-linear-gradient(left,  #eeeeee 0%, #ffffff 33%); */
    /* background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eeeeee), color-stop(33%,#ffffff)); */
    /* background: -webkit-linear-gradient(left,  #eeeeee 0%,#ffffff 33%); */
    /* background: -o-linear-gradient(left,  #eeeeee 0%,#ffffff 33%); */
    /* background: -ms-linear-gradient(left,  #eeeeee 0%,#ffffff 33%); */
    /* background: linear-gradient(to right,  #eeeeee 0%,#ffffff 33%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=1 ); */
}

main::-webkit-scrollbar {
    display: none;
}


main img
{
    width: 100%;
}

#jsDebug {
    position: relative;
    width: 100%;
    background-color: red;
}

