{{ $baseurl := .Site.BaseUrl }}

{{ partial "header.html" . }}
{{ partial "menu.html" . }}

<div id="posts">
  <div class="timeline"></div>
  <div id="postItems">
    <ul id="menu">
      {{ range (.Data.Pages.GroupByParam "year").Reverse}}
      <li class="year">{{ .Key }}</li>
      {{ range .Pages }}
      {{ .Render "li" }}
      {{ end }}
      {{ end }}
    </ul>
  </div>
  <div id="postFoot"></div>
</div> <!-- posts -->
</div> <!-- sidebar -->

<main>
  {{ range first 1 .Data.Pages }}
  {{ .Render "content" }}
  {{ end }}
</main>


{{ partial "footer.html" . }}
