{{ $baseurl := .Site.BaseUrl }}

{{ partial "header.html" . }}
{{ partial "menu.html" . }}

<div id="posts">
  <div class="timeline"></div>
  <div id="postItems">
    <ul id="menu">
      {{ range (.Data.Pages.GroupByParam "year").Reverse}}
      <li class="year">{{ .Key }}</li>
      {{ range .Pages }}
      {{ .Render "li" }}
      {{ end }}
      {{ end }}
    </ul>
  </div>
  <div id="postFoot"></div>
</div> <!-- posts -->
</div> <!-- sidebar -->

<main>
  {{ range first 1 .Data.Pages }}
  <section id="project">
    <h1 id="title">{{ .Title }}</h1>
    <div>
      <article id="content">
        {{ .Content }}
        {{ .Section }}
      </article>
    </div>
  </section>
  {{ end }}
</main>


{{ partial "footer.html" . }}
